{{!-- about us section starts --}}
  
  <div class = "container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        <div class="row">
           <div class="col-md-6 col-12 hero-text ">
              <figure>
                 <img src="images/u.jpg" alt="aboutus_image" align="left" width="530" height="530">
              </figure>
            </div>
          

          {{!-- right side --}}

          <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
              <h1 >OUR BACKGROUND AND</h1>
              <h1 > AREA OF INTEREST</h1>
              <p >Highly experienced and expertise in Service and Maintenance, Installation,Commissioning, of Air compressors, Air separation units, Oxygen plants.</p>
              <button class = "btn-style btn-primary"> Read more</button>
          </div>
          
          </div>
      </div>
    </div>
  </div>
   
   {{!-- about us section ends --}}